<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>405</title>
  <link rel = "stylesheet" href ="/styles/error-page-styles.css" />
</head>
<body>
<main th:class="error-block">

  <section th:class="bold">
    <H1>405 Method Not Allowed</H1>
  </section>

  <section th:class="error-parag">
    <h3>You have quite the error there</h3>
  </section>

  <section th:class="return-button">
    <a th:href="@{/static}">
      <button th:class="error-button">RETURN TO HOME</button>
    </a>
  </section>

</main>
</body>
</html>