<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>502</title>
    <link rel = "stylesheet" href ="/styles/error-page-styles.css" />
</head>
<body>
<main th:class="error-block">

    <section th:class="bold">
        <H1>502 Bad Gateway</H1>
    </section>

    <section th:class="error-parag">
        <h3>Invalid Response dude... Sorry for that.</h3>
    </section>

</main>
</body>
</html>